*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: auto;
  overflow: hidden;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}
h1.title {
  margin: 0.5em 0;
  font-size: 12px;
  font-family: sans-serif;
}
h3 {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  position: sticky;
  top: 0;
  margin-top: 0;
  padding-top: 0.7em;
  padding-bottom: 0.5em;
  background: white;
  border-bottom: 2px solid #ddd;
}

h4,
h4 a {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

a {
  color: blue;
}

a:hover {
  text-decoration: none;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.item,
header,
footer {
  padding: 0em 2em;
}

.group h3 {
  padding-left: 1.5em;
}

pre,
code,
.code {
  text-rendering: unset;
  -webkit-font-smoothing: unset;
  white-space: pre-wrap;
}

header {
  z-index: 2000;
  background: #fff;
  margin: 0;
  box-shadow: 0 1px 10px #0000001a;
  max-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  color: #222;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.15);
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
}

footer {
  border-top: 3px solid #999;
  padding: 3px 2em;
  color: white;
  background: #222;
  font-size: 0.8em;
  text-align: center;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.25);
  appearance: auto;
}

input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

#searchbar {
  font-family: monospace;
  padding: 0.35em 0.5em;
  width: 100%;
  margin: 0.5em 0;
  margin-top: 1.25em;
  border-radius: 3px;
}

#toc {
  margin: 0.5em auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  align-self: center;
}

nav .link {
  color: white;
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 2px 4px;
  display: block;
  background: #222;
  font-size: 80%;
}

.hidden {
  display: none !important;
}

.item {
  font-family: monospace;
  margin: 1em 0;
  word-break: break-word;
}

::-webkit-scrollbar {
  width: 15px;
  height: 6px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #222;
  background-clip: content-box;
  border: 2px solid transparent;
  background-clip: content-box;
}

#sshell {
  box-sizing: border-box;
  height: 100%;
  max-height: 99%;
  width: 100vw;
  overflow-y: scroll;
  margin: auto !important;
  padding-bottom: 1em;
  left: 0;
  overflow-x: hidden;
}

#popup {
  display: none;
  z-index: -1;
}

#popup.show {
  box-sizing: border-box;
  padding: 2em;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: auto !important;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.25);
  word-break: break-word;
}

.topbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  margin: 1em;
}

button {
  background: none;
  border: none;
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
}

.site-icon {
  border-radius: 8px;
  background: #222;
  display: inline-flex;
  border: 2px solid #ddd;
}

.site-icon svg {
  padding: 7px;
  width: 40px;
  height: 40px;
  fill: white;
}

#popup button {
  padding: 0;
  border-radius: 100%;
  color: #fff;
  font-weight: 500;
  background: #fff;
  display: flex;
  margin: 5px;
  justify-content: center;
  z-index: 1000;
  align-items: center;
  box-shadow: 0 1px 2px 2px rgb(0 0 0 / 20%);
  box-sizing: content-box;
}

#popup button svg {
  border-radius: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#popup button:hover {
  background: #222;
  transition: all 300ms linear;
}

#popup button:hover svg {
  border-radius: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  fill: #fff;
  transition: all 300ms linear;
}

#popup [data-key]:before {
  content: attr(data-key);
  display: block;
  font-weight: 700;
  color: #999;
  font-size: 12px !important;
  text-transform: uppercase;
  margin-top: 1em;
}

#popup a {
  text-decoration: none;
}

#popup [data-key]:empty {
  display: none;
}

#popup .container {
  background: white;
  padding: 1em;
  margin: auto;
  position: relative;
  overflow-x: scroll;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: max-content;
}

#popup pre {
  white-space: pre-wrap;
  user-select: all;
  display: flex;
  flex-direction: column;
}

@media (max-width: 575.98px) {
  #popup .container {
    overflow-x: hidden;
  }

  #popup.show {
    background: rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 767.98px) {
  #popup pre {
    white-space: break-spaces;
  }
}
