<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>sshell</title>

  <meta name="description" content="Command line snippets used on the job. Created by @nntrn">
  <meta property="og:type" content="website">
  <meta property="og:site-name" content="sshell">
  <meta name="theme-color" content="#222">
  <link rel="canonical" href="https://nntrn.github.io/sshell/index.html">
  <link rel="icon" href="https://nntrn.github.io/sshell/favicon.png">
  <link rel="icon" href="https://nntrn.github.io/sshell/site-icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://nntrn.github.io/sshell/favicon.png">
<style>
  {% include 'inline_style.j2' %}
</style>
</head>

<body>
  <nav>
    <header>
      <h1 class="title"><span>sshell</span>&nbsp;by&nbsp;<a href="https://github.com/nntrn" data-author="annie tran">annie&nbsp;tran</a></h1>
    </header>
    <input id="searchbar" autocomplete="off" type="search" name="q" placeholder="search" spellcheck="false" value="" />
  </nav>

  <main>
    {{ snippets }}
  </main>

  <script async="" src="script.js"></script>

</body>
</html>
