
  body{font-family:sans-serif;font-weight:500;line-height:110%}
h1,h2,h3,h4{all:unset;font-family:monospace}
*,:before,:after{box-sizing:border-box}
body,html,h1,h2,h3,h4,h5,pre{margin:unset;padding:0}
main{width:100%;margin:auto;overflow-x:hidden}
pre{white-space:pre-wrap;font-family:monospace;font-weight:400}
.item{margin:1em 0}
#searchbar{width:100%;font-size:15px;line-height:150%;padding:10px 2%;border:0;background:#fff;box-shadow:inset 0 0 3px rgba(0,0,0,.09)}
nav{position:sticky;top:0;z-index:10000}
header,main{padding:0 2%}
header{border-top:4px solid var(--theme-link-color);background:#fff;line-height:100%;font-size:.9em;padding-top:3px;padding-bottom:2px}
h4{font-weight:700;font-size:110%}
h5{font-weight:400;text-transform:uppercase}
a{color:var(--theme-link-color);text-decoration:none;user-select:auto}
.hidden{display:none!important}
h1{font-weight:400;font-family:monospace}
table,tr,td,th{border-collapse:collapse;text-align:left}
td,th{border:2px solid #fff;user-select:all;border-left:none;border-right:none}
table{width:100%;border:0px solid #ddd}
pre{background:#222;color:#fff;padding:6px}
[before]:before{content:attr(before)}
pre[before]:before{display:block;opacity:.5}
.flex{display:flex;gap:2%}
