<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='https://raw.githubusercontent.com/nntrn/sshell/gh-pages/api/{{ id }}.json'" />
  </head>
  <body>
   <pre>{{ jsonstring }}</pre>
  </body>
</html>
